.gradle/
build/
run/
repo/

.idea/
.run/
.vscode/
*.iml
*.ipr
*.iws
out/

.apt_generated/
.classpath
.eclipse/
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

.DS_Store
Thumbs.db
*.log

src/generated/**/.cache/
